@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  box-shadow: -4px 10px 26px 0px rgb(228, 228, 228);
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  color: #767676;
  overflow: hidden;
}

.article-left {
  background-color: rgb(247, 247, 247);
  width: 20em;
  height: auto;
  font-weight: 400;
  padding: 2em;
}

.title-left {
  font-weight: 400;
  font-size: 1.6em;
  padding-right: 1.8em;
}

.paragraph-left {
  font-size: 1.1em;
  line-height: 1.6em;
}

.continue-reading {
  font-size: 1.1em;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.continue-reading a:link {
  text-decoration: none;
  color: #26B1F4;
}

.continue-reading a:visited {
  text-decoration: none;
  color: #26B1F4;
}

.continue-reading a:hover {
  text-decoration: none;
  color: #C86DC3;
}

.continue-reading a:active {
  background: grey;
  color: #ffffff;
}


.article-right {
  background-image: url("https://i.ibb.co/yfgjV2n/macbook.jpg");
  object-fit: cover;
  background-size: cover;
  width: 16.9em;
  height: auto;
  /* vertical-align: top; */
}

/* .img-right {
  width: 279px;
  height: 500px;
  object-fit: cover;
  object-position: left;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  
} */


/* ----- modo villero para croppear la imagen, EVITAR porque el "clip" solo funciona con "position absolute ------
img {
  position: absolute;
  width: 500px;
  height: auto;
  clip: rect(0, 200px, 800px, 0);
} */
